.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: inherit;
}

.column-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin: 10px;
}

mat-form-field {
  width: 100%;
}

mat-horizontal-stepper {
  height: 50%;
}

button {
  margin: 10px;
}

form {
  width: 100%;
}
