<div class="container">
  <mat-horizontal-stepper linear="true">
    <mat-step [stepControl]="userInfoForm.form">
      <form [formGroup]="userInfoForm.form">
        <ng-template matStepLabel>Fill you login data</ng-template>
        <div class="row-wrapper">
          <div class="column-wrapper">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Email" formControlName="email">
            </mat-form-field>
          </div>
          <div class="column-wrapper">
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
          </div>
          <div class="column-wrapper">
            <mat-form-field>
              <mat-label>Birth date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birthData">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="userAgreementsForm.form">
      <form [formGroup]="userAgreementsForm.form">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <div class="row-wrapper">
          <div class="column-wrapper">
            <p>PUT SOME AGREEMENT TERMS HERE FROM PROPERTIES</p>
          </div>
          <div class="column-wrapper">
            <mat-checkbox class="amateur" color="primary" required
                          formControlName="conditionsAgreement">I agree to service terms
            </mat-checkbox>
          </div>
        </div>
        <div>
          <button mat-flat-button color="accent" matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step *ngIf="userQuestionsForm && userQuestionsForm.questionsList.length > 0">
      <ng-template matStepLabel>Short questions</ng-template>
      <div class="row-wrapper">
        <div class="column-wrapper">
          <form [formGroup]="userQuestionsForm.form" class="">
            <ng-container *ngFor="let q of userQuestionsForm.questionsList">
              <app-question [form]="userQuestionsForm.form" [question]="q"></app-question>
            </ng-container>
          </form>
        </div>
      </div>
      <div>
        <button mat-flat-button color="accent" matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="row-wrapper">
        <div class="column-wrapper">
          <p>That was last step. Pleas check all data before submit</p>
        </div>
      </div>
      <div>
        <button mat-flat-button color="primary" matStepperPrevious>Back</button>
        <button mat-flat-button color="accent" (click)="registerUser()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <p>{{userInfoForm.form.value | json}}</p>
  <p>{{userAgreementsForm.form.value | json}}</p>
  <p *ngIf="userQuestionsForm">{{userQuestionsForm.form.value | json}}</p>

  <p>{{timeLeft}}</p>

</div>


