<div class="container">
  <form [formGroup]="userLoginForm.form">
    <div class="row-wrapper">
      <div class="column-wrapper">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>
      <div class="column-wrapper">
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>
      <div class="column-wrapper">
        <button mat-flat-button color="accent" (click)="loginUser()">Submit</button>
      </div>
    </div>
  </form>
</div>
