<div [formGroup]="form" class="form-container">
  <div [ngSwitch]="question.controlType">
    <mat-form-field *ngSwitchCase="'textbox'" class="example-full-width">
      <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
      <input matInput [formControlName]="question.key"
             [id]="question.key" [type]="question.type">
    </mat-form-field>
    <mat-form-field appearance="fill" *ngSwitchCase="'dropdown'" class="example-full-width">
      <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
      <mat-select [id]="question.key" [formControlName]="question.key">
        <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>
