<div class="row-wrapper">
  <div class="column-wrapper">
    <button mat-flat-button color="primary" routerLink="login">Login</button>
  </div>
  <div class="column-wrapper">
    <button mat-flat-button color="primary" routerLink="register">Register</button>
  </div>
</div>
