.row-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.column-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 10px;
}

button{
  width: 100%;
}
